<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSDSgg3xqarUpeCTjyaXx_AcL6fO0xlw4</string>
	<key>GCM_SENDER_ID</key>
	<string>78117868259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vadbird.pp105</string>
	<key>PROJECT_ID</key>
	<string>frbspp105</string>
	<key>STORAGE_BUCKET</key>
	<string>frbspp105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78117868259:ios:377c4954c8ac9e8c9b6bd6</string>
</dict>
</plist>